.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  margin: 16px auto;
  box-sizing: border-box;
}
.Ingredient {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgb(255, 200, 160);
  box-shadow: 0 2px 3px #ccc;
}
