.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 3px;
    margin: 0 5px;
    width: 40px;
    border: 2px solid #2378da;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #ffffff;
    border: 2px solid #7a7a7a;
    color: #555555;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #cccccc;
    color: #000000;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    color: #fe0000;
    background-color: white;
    border: 2px solid #fe0000;
}

.BuildControl .More {
    color: #299c29;
    background-color: white;
    border: 2px solid #299c29;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #fe0000;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #299c29;
    color: white;
}