.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #47290d;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a:active {
    color: #2378da;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
    }

    .NavigationItem a {
        color: #47290d;
        width: auto;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a.active,
    .NavigationItem a:active {
        border-bottom: 4px solid #2378da;
        color: #2378da;
    }

}