.Button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 8px 16px;
  margin: 8px;
  margin-left: 0;
}

.Button:disabled {
  color: #777;
  border: 2px solid #ddd;
}
.Button:disabled:hover {
  color: #777;
  background-color: #ddd;
}

.Success {
  color: #299c29;
  background-color: white;
  border: 2px solid #299c29;
}

.Danger {
  color: #fe0000;
  background-color: white;
  border: 2px solid #fe0000;
}

.Success:hover,
.Success:active {
  background-color: #299c29;
  color: white;
}

.Danger:hover,
.Danger:active {
  background-color: #fe0000;
  color: white;
}
